matplotlib
cvxopt
gpytorch@git+https://github.com/wecacuee/gpytorch.git@fractional-outputs-per-input#egg=gpytorch==0.3.7fopi1
torch
torch-vision
cvxpy
# gurobipy==9.0.0
# For car
# vtkPlotter
# k3d
# Probabilistic programming
pyro-ppl
tensorboard
